.emailList {
	flex: 1;
	overflow: scroll;
	margin-left: 20px;
}

.emailList::-webkit-scrollbar {
	display: none;
}

.emailList_settings {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	z-index: 999;
	padding-right: 10px;
	padding-left: 10px;
}

.emailList_sections {
	display: flex;
	top: 0;
	position: sticky;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	z-index: 999;
}

.emailList_list {
	padding-bottom: 20%;
}
